body {
    background-color: rgb(15, 23, 42);
        color: rgb(148 163 184);
        opacity: 0.7;
        transition: opacity 0.4s ease-in-out;
}
body:hover{
    cursor: pointer;
    opacity: 1;
}

.hcdirection{
    max-width: 750px;
    margin: 0 auto;
}
.judApplication{
    max-width: 750px;
    margin: 0 auto;
}
.orAffidavit{
    max-width: 750px;
    margin: 0 auto;
}
.application{
    max-width: 750px;
}
.biddResults{
    max-width: 750px;
    
}

h2{
    text-align: center;
    color: #fff;
}
.headerh2{
    text-align: center;
    color: rgb(226 232 240 );
}

h3{
    color: rgb(226 232 240);
}

.section{
    max-width: 750px;
    margin: 0 auto;

}
.courtOrder{
    max-width: 750px;
    margin: 0 auto;
}
.imoji{
    font-size: 30px;
    

}
.footer{
    display: flex;
    justify-content:space-around;
    align-items: center;
}



html{
    scroll-behavior: smooth;
}
.back-to-top-btn{
    position:fixed;
    background-color: black;
    bottom: 20px;
    right: 20px;
    color: rgb(226 232 240);
    padding: 12px 16px;
    border-radius: 50%;    /* Makes it circular */
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;    /* Keeps it on top of other content */
    transition: background-color 0.3s ease;
    
}
.back-to-top-btn:hover {
    background-color: #b30003;
}
